  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

.frogCard {
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 15em;

    background-color: #c6d7a1;

    padding: 8px;
    border-radius: 8px;
    border: solid 2px black;

    transition: ease-in-out 0.1s;
    transform: translate(0px, 0px);
}

.frogCard:hover {
    box-shadow: 0px 0px 42px 6px rgba(145,145,145,0.75);
    cursor: pointer;
    transition: ease-in-out 0.1s;
    transform: translate(0px, 4px);
}

.frogCard:active {
    box-shadow: 0px 0px 32px 3px rgba(145,145,145,0.75);
    cursor: pointer;
    transition: ease-in-out 0.02s;
    transform: translate(0px, 6px);
}

.imageContainer {
    display: flex;
    border-radius: 8px 8px 0px 0px;
}

.cardImage {
    overflow: auto;
    object-fit: contain;
    border-radius: 8px 8px 0px 0px;
    border: solid 2px black;
}

.cardTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    background-color: #eef9d4;
    border: solid 2px black;
    padding: 6px;

    border-radius: 0px 0px 8px 8px;
}

.cardTitle {
    color: #172d0c;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1em;
    margin: 0;
}

.scientificName {
    margin: 0;
    margin-top: 4px;
    color: #172d0c;
    font-style: italic;
    font-weight: 500;
    font-size: 0.9em;
    font-family: "Poppins";
}

.cardInfoContainer {
    background-color: #a0c085;
    overflow: hidden;
    display: flex;
    flex: 1;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px 8px;

    border-radius: 0px 0px 4px 4px;

}

.cardInfo {
    margin: 0px;
    color: #172d0c;
    font-family: "Poppins";
    font-size: 0.7em;
    font-weight: 400;
    overflow: hidden;
}